<div class="jumbotron">
	<h1>Welcome to my app!</h1>
	<h2>Cotu's The Bomb so buy his S#%t.</h2>

	<p>Click to Get--><%= link_to "GET", "#",class: "btn btn-success btn-lg" %></p>

	<p>Find me in app/views/pages/home.html.erb</p>
</div>